<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/weather.png">       
        <body>
            <div class="main-content">
                {{>header}}
                <p>{{message}} </p>
            </div>                      
                     
            {{>footer}}
        </body>
    </head>
</html>