<!DOCTYPE html>

<html>
    <head>
        <title> About </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <body>
            <div class="main-content">
                {{>header}}
                <p>This site was created by Vijay Prakash. It uses data from mapbox.com and darksky.net</p>
                <img class="portrait" src="/img/download.jpg">
            </div>                          
            
            {{>footer}}
        </body>
    </head>
</html>